@import "tailwindcss";
@import "flowbite-react/plugin/tailwindcss";
@source "../.flowbite-react/class-list.json";

@custom-variant dark (&:where(.dark, .dark *));

html {
  scroll-behavior: smooth;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #FAFAF8;
}
::-webkit-scrollbar-thumb {
  background: #C4C4C4;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: #2563EB;
}

/* Text Selection */
::selection {
  background: rgba(37, 99, 235, 0.2);
  color: #2563EB;
}
